<div class="footer">
    <div class="footer-body">
        <div class="column-info">
            <h1>Informacion de la empresa</h1>
            <p>En éste restaurante se trabaja muy bien, nos divertimos entre nosotros a la hora de hacer nuestras labores y sobre todo le damos una experiencia única tanto gastronómica como de la vida a nuestros clientes, para que se vayan con una gran sonrisa.</p>

        </div>

        <div class="column-social">
            <h1>Redes Sociales</h1>
            <div class="row">
                <img src="{{site.baseurl}}/assets/images/facebook.png">
                <label>Siguenos en Facebook</label>
            </div>

            <div class="row">
                <img src="{{site.baseurl}}/assets/images/twitter.png">
                <label>Siguenos en Twitter</label>
            </div>

            <div class="row">
                <img src="{{site.baseurl}}/assets/images/instagram.png">
                <label>Siguenos en Instagram</label>
            </div>

        </div>

        <div class="column-about">

            <h1>Informacion Contactos</h1>

            <div class="row-info">
                <img src="{{site.baseurl}}/assets/images/restaurante-cubiertos-simbolo-circular-de-una-cuchara-y-un-tenedor-en-un-circulo.png">
                <label>Brenes, Sevilla. C/Foo nº20</label>
            </div>

            <div class="row-info">
                <img src="{{site.baseurl}}/assets/images/telefono-inteligente.png">
                <label>987213456</label>
            </div>

            <div class="row-info">
                <img src="{{site.baseurl}}/assets/images/email.png">
                <label>duckdonalds@info.com</label>
            </div>

        </div>

    </div>

</div>

<div class="footer-copy">
    <div class="copyright">
        © 2019 Todos los Derechos Reservados | Duckdonalds
    </div>
</div>